Metrix/Service References/MetrixDistributedService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MetrixDistributedNew" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MetrixDistributedNew" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="cusAdLine1Value" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cusAdLine2Value" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cusAdLine3Value" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cusContactValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cusIdValue" type="xs:int" />
      <xs:element minOccurs="0" name="cusNameValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cusNicValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="empAdLine1Value" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="empAdLine2Value" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="empContactValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="empDeptValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="empDobValue" type="xs:dateTime" />
      <xs:element minOccurs="0" name="empIdValue" type="xs:int" />
      <xs:element minOccurs="0" name="empNameValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="empNicValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="empPosValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="brandValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="countryValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nameValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="prodIdValue" type="xs:int" />
      <xs:element minOccurs="0" name="purchPriceValue" type="xs:int" />
      <xs:element minOccurs="0" name="salePriceValue" type="xs:int" />
      <xs:element minOccurs="0" name="supIdValue" type="xs:int" />
      <xs:element minOccurs="0" name="warrentValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="Supplier">
    <xs:sequence>
      <xs:element minOccurs="0" name="add" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="companyNameValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contactValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="countryValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="emailValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="refNameValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="supIdValue" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Supplier" nillable="true" type="tns:Supplier" />
  <xs:complexType name="Invoice">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Invotime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="customer" type="xs:int" />
      <xs:element minOccurs="0" name="employeeId" type="xs:int" />
      <xs:element minOccurs="0" name="invoice" type="xs:int" />
      <xs:element minOccurs="0" name="product" type="xs:int" />
      <xs:element minOccurs="0" name="quan" type="xs:int" />
      <xs:element minOccurs="0" name="tot" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Invoice" nillable="true" type="tns:Invoice" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="expectDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ordDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ordId" type="xs:int" />
      <xs:element minOccurs="0" name="ordPaid" type="xs:boolean" />
      <xs:element minOccurs="0" name="product" type="xs:int" />
      <xs:element minOccurs="0" name="suplier" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="user">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="user" nillable="true" type="tns:user" />
  <xs:complexType name="UserSettings">
    <xs:sequence>
      <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserSettings" nillable="true" type="tns:UserSettings" />
</xs:schema>